@font-face {
  font-family: Uiua;
  src: url(./assets/uiua.ttf);
}
body {
  background: #222;
  color: white;
  font-family: Uiua;
  font-size: 12px;
}
#log {
  z-index: 99;
  position: absolute;
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}
.card {
  position: absolute;
  width: 90px;
  height: 130px;
  background: black;
  border: 1px solid white;
  transition: 0.3s;
  text-align: center;
  bottom: 10px;
  padding: 5px;
  user-select: none;
}
.cardright {
  position: absolute;
  top: 5px;
  right: 5px;
}
.cardleft {
  position: absolute;
  top: 5px;
  left: 5px;
}
.cardbottom {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}
.currentlyPlaying {
  bottom: 50px;
  background: blue;
}
.leader {
  color: aqua;
}
.boss {
  color: red;
}
#battlefield {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: calc(100% - 150px);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "e c a g i k"
    "f d b h j l";
  transition: 0.3s;
}
.slot {
  background: gray;
  border: 1px solid black;
  border-radius: 10px;
}
#slot-0-0-0 { grid-area: a; }
#slot-0-0-1 { grid-area: b; }
#slot-0-1-0 { grid-area: c; }
#slot-0-1-1 { grid-area: d; }
#slot-0-2-0 { grid-area: e; }
#slot-0-2-1 { grid-area: f; }
#slot-1-0-0 { grid-area: g; background: purple; }
#slot-1-0-1 { grid-area: h; background: purple; }
#slot-1-1-0 { grid-area: i; background: purple; }
#slot-1-1-1 { grid-area: j; background: purple; }
#slot-1-2-0 { grid-area: k; background: purple; }
#slot-1-2-1 { grid-area: l; background: purple; }
.bell {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 10px;
  padding: 10px;
  background: #333;
  z-index: 50;
}
#wavebell {
  bottom: 60px;
}
#blings {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 10px;
  padding: 10px;
  background: #555;
  color: yellow;
  z-index: 50;
}
#worldmap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darkslateblue;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "xa aa ab ac xb xc"
    "ba bb bc bd be bf"
    "xd ca cb cc xe xf";
  transition: 0.3s;
}
.mapitem {
  background: blue;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  user-select: none;
  transition: 0.3s;
}
#map-0-1 { grid-area: aa; }
#map-0-2 { grid-area: ab; }
#map-0-3 { grid-area: ac; }
#map-1-0 { grid-area: ba; }
#map-1-1 { grid-area: bb; }
#map-1-2 { grid-area: bc; }
#map-1-3 { grid-area: bd; }
#map-1-4 { grid-area: be; }
#map-1-5 { grid-area: bf; }
#map-2-1 { grid-area: ca; }
#map-2-2 { grid-area: cb; }
#map-2-3 { grid-area: cc; }
.event {
  position: absolute;
  top: -100%;
  left: 10%;
  width: 80%;
  height: calc(80% - 150px);
  background: #333;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}
.pricetag {
  position: absolute;
  bottom: 10px;
  color: yellow;
}